<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.amrendra.popularmovies"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.PopularMoviesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app.activities.DetailActivity"
            android:label="@string/title_activity_detail"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName="com.amrendra.popularmovies.app.activities.MainActivity"
            android:theme="@style/Theme.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amrendra.popularmovies.app.activities.MainActivity"/>
        </activity>
    </application>

</manifest>
